
@using WebSiteBanSach.Models;
@model Sach
<link href="~/Content/TrangChuCss.css" rel="stylesheet" />
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*thông tin sách chi tiết*@
<div><img src="@Url.Content("~/HinhAnhSP/"+Model.AnhBia)" width="200" height="250" /></div>
<div id=" ChuDe">Chủ đề:@Model.MaChuDe</div>
<div>Mã sách: @Model.MaSach</div>
<div>Tên sách: @Model.TenSach</div>
<div>Thông tin: @Model.MoTa</div>
@using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaSach = Model.MaSach, @strURL = Request.Url.ToString() }))
{
    <input type="submit" style="cursor:pointer" value="Mua hàng" id=" btnGioHang" class="btn btn-primary">
}

<div style="clear:both"></div>
<style>
    /*css thông tin sách*/
    #HinhAnh {
        float: left;
    }

    #ThongTin {
        float: left;
        width: 400px;
        margin-left: 10px;
    }

    #TenSach {
        font-weight: normal;
        font-size: 10pt;
        height: auto;
        word-wrap: break-word; /*canh ndung tự xuống dòng*/
        color: red;
    }

    #ChuDe, #NhaXuatBan {
        font-size: 10pt;
        color: black;
        font-weight: normal;
        height: auto;
    }

    #MoTa {
        font-size: 10pt;
        font-weight: normal;
        color: black;
        word-wrap: break-word;
        height: auto;
    }

    #Gia span#Gia {
        font-weight: normal;
        color: red;
        font-size: 10pt;
        height: auto;
    }

    #Gia span#TieuDe {
        color: green;
        font-weight: normal;
    }

    #TieuDe {
        color: green;
        font-weight: normal;
    }

    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        font-size: 10pt;
        font-weight: normal;
        background-color: red;
        color: white;
        border: none;
    }

        #btnGioHang:hover {
            background-color: #a30a11;
        }
</style>