
div#SanPham {
    float: left;
    width: 250px;
    margin-left: 10%;
    margin-top: 10px;
}

#divBody {
    margin: auto;
}
#divNoiDungBenPhai {
    display: none;
}

#divMenuSlider {
    display: none;
}

#HinhAnh {
    float: left;
}
/*div hình ảnh của sản phẩm*/
div#SanPham img {
    width: 150px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#ThongTin {
    float: left;
    width: 600px;
    margin-left: 10px;
}
/*div tên sách*/
#TenSach {
    font-weight: normal;
    font-size: 15pt;
    height: auto;
    word-wrap: break-word;
    color: red;
}

#DonGia {
    font-weight: normal;
    color: red;
    font-size: 10pt;
    height: auto;
}




