
div#SanPham {
    float: left;
    width: 200px;
    margin-left: 100px;
}
/*css trang xem chi tiết*/
#divBody {
    margin-left: 130px;
}

#divNoiDungBenPhai {
    display: none;
}

/* #divMenuSlider {
    display: none;
}*/

#divGioHang {
    border: 3px; /*solid #EEEEEE;*/
    border-color: black;
    margin-left: 10%;
}

    #divGioHang td {
        text-align: right;
        color: red;
        font-weight: bold;
    }

.MenuTrang li {
    display: inline;
}


